.flex-container {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: normal;
    align-content: center;
  }

.button {

    display: block;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    margin: 25px;
    margin-top:10px;

    background-color: rgba(35, 36, 40, 0.75);
    text-align: center;
    cursor: pointer;
    width: 250px;
    height: 50px;

    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 0.5;

}

.button:hover {
    opacity: 1;
	transform: rotate(5deg) scale(1.2);
}

.ok {
    cursor: pointer;
}
.no {
    cursor: not-allowed;
    filter: grayscale(50%);
    background-color: brown;
}
