@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&display=swap');

html {
    color: white;
    background-color: #313338;
    font-family: 'JetBrains Mono', monospace;
}

.ok {
    cursor: pointer;
}
.no {
    cursor: not-allowed;
    filter: grayscale(100%);
}
